.team-item {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background-color: var(--section-background);
  transition: all .3s cubic-bezier(0.4, 0, 0.2, 1);
  will-change: opacity, transform, background-image;
  border-radius: 10px;
  width: 100%;
  min-width: 0;
}
  
.team-item img {
  width: 100%;
  height: auto;
}

.team-item:hover {
  opacity: 0.9;
  transform: translateY(-20px);
  box-shadow: 0 4px 6px var(--section-background);
  background-image: radial-gradient(circle, rgba(137, 120, 211, 0.4) 0%, #1E1F35 100%);
}
